@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #000;
  color: #fff;
}

.fade-in {
  opacity: 1 !important;
}

section {
  padding: 5rem 2rem;
}

h1, h2 {
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.9;
}
